<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="org.adw.ActivityStarter.THEMES" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
    </queries>
    <!-- Used for icon pack merger -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sample"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Apply icon pack globally" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.richardluo.globalIconPack.APPLY_ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.IconVariantActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.IconPackMergerActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <provider
            android:name=".iconPack.IconPackProvider"
            android:authorities="com.richardluo.globalIconPack.IconPackProvider"
            android:directBootAware="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <service
            android:name=".iconPack.KeepAliveService"
            android:directBootAware="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="To keep icon pack provider alive" />
        </service>
        <!-- Start service on boot in provider mode -->
        <receiver
            android:name=".iconPack.BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>